extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/movie/new")
				input(type="hidden", name="_id", value="#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 标题
					.col-sm-10
						input#inputTitle.form-control(type="text", name="title", value="#{movie.title}")

				.form-group
					label.col-sm-2.control-label(for="inputAuthor") 作者
					.col-sm-10
						input#inputAuthor.form-control(type="text", name="author", value="#{movie.author}")

				.form-group
					label.col-sm-2.control-label(for="inputContent") 内容
					.col-sm-10
						input#inputContent.form-control(type="text", name="content", value="#{movie.content}")

				.form-group
					label.col-sm-2.control-label(for="inputTime") 时间
					.col-sm-10
						input#inputTime.form-control(type="text", name="time", value="#{movie.time}")

				.form-group
					label.col-sm-2.control-label(for="inputImg") 图片
					.col-sm-10
						input#inputImg.form-control(type="file", name="img", value="#{movie.img}")
				.form-group
					.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type="submit") 录入