extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/movie/new")
				input(type="hidden", name="_id", value="#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(tyle="text", name="titles", value="#{movie.title}")

				.form-group
					label.col-sm-2.control-label(for="inputDoctor") 导演
					.col-sm-10
						input#inputTitle.form-control(tyle="text", name="doctor", value="#{movie.doctor}")

				.form-group
					label.col-sm-2.control-label(for="inputCountry") 国家
					.col-sm-10
						input#inputTitle.form-control(tyle="text", name="country", value="#{movie.country}")

				.form-group
					label.col-sm-2.control-label(for="inputlanguage") 语种
					.col-sm-10
						input#inputTitle.form-control(tyle="text", name="language", value="#{movie.language}")

				.form-group
					label.col-sm-2.control-label(for="inputPoster") 海报地址
					.col-sm-10
						input#inputTitle.form-control(tyle="text", name="poster", value="#{movie.poster}")

				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(tyle="text", name="title", value="#{movie.title}")
				.form-group
					.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type="submit") 录入