extends ../layout

block content
	//- Banner
	//- div.container-fluid
	//- 	div#carousel-example-generic.carousel.slide(data-ride="carousel")
	//- 		//- Indicators
	//- 		ol.carousel-indicators
	//- 			li.active(data-target="#carousel-example-generic", data-slide-to="0")
	//- 			li(data-target="#carousel-example-generic", data-slide-to="1")
	//- 		//- Wrapper for slides		
	//- 		div.carousel-inner(role="listbox")
	//- 			div.item.active
	//- 				img(src="/images/banner1.png", alt="...")
	//- 				//- div.carousel-captiion 111
	//- 			//- div.item
	//- 			//- 	img(src="#", alt="...")
	//- 			//- 	div.carousel-captiion 222
	//- 		//- Controls
	//- 		a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
	//- 			span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
	//- 			span.sr-only Previous
	//- 		a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
	//- 			span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
	//- 			span.sr-only Next
	//- 内容
	div.container.main
		div.main-header
		div.content
			each item in movies
				.row
					.col-md-2 
						span.time #{item.time}
						img.img-responsive.center-block.img-thumbnail.liem-img(src="#{item.img}")
					.col-md-8.border-l
						h3
							a(href="#", target="_black") #{item.title}
						p 作者：
							span #{item.author}
						p #{item.content}
					.col-md-2
				