extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 电影名字
						th 导演
						th 国家
						th 上映年份
						//- th 录入时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in movies
						tr(class="movies-id-#{movies._id}")
							td #{movies.title}
							td #{movies.doctor}
							td #{movies.country}
							td #{movies.year}
							//- td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
							td: a(target="_blank", href="../movie/#{movies._id}") 查看
							td: a(target="_blank", href="../update/#{movies._id}") 修改
							td
								button.btn.btn-danger.del(type="button", data-id="#{movies._id}") 删除